html, body{
      width:100%;
      }
body {
      background-color: black;
      color: white;
    }
    .slot-container {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      font-size: 48px;
      border: 1px solid;
      width: 800px;
    }
    .slot {
      width: 50px;
      height: 66px;
      border: 1px solid;
      
    }
    .cont {
      width: 1400px;
      margin: auto;
      position: relative;
    }
    .bunny {
      opacity: 0.3;
    }
    #blanc{
      position: absolute;
      width: 360px;
      height: 504px;
      left: 0px;
    }
    #noir{
      position: absolute;
      width: 300px;
      height: 504px;
      left: 1070px;
    }
    #startbtn {
      
    }
